/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* customised */

.bar{
  display: flex;
  float: right;
}

.main-sidebar{
  background-color: #8D8787;
  color: #F1EEE9;
  height: 100vh;
}

.tm-main-sidebar{
  background-color: #535678;
  color: #F1EEE9;
  height: 100vh;
}
.profile{
  text-align: center;
}

.logo{
  width: auto;
  height: 60px;
  margin: 12px 0;
}

.nav{
  margin-top: 50px;
}

.nav-link{
  color: white;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  text-indent: 40px;
  /* text-align: calc(100% - 30px); */
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.nav-link:hover{
  color: #000000;
  text-decoration: none;
}
.nav-link:active{
  color: #000000;
  text-decoration: none;
}
