.App {
    font-family: manjari;
  } 
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* landing page */
  .landing-page {
    background-image: url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    opacity: 0.8;
  position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

  }

  .landing-page button{
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 20px;
  }

  .landing-page button:hover{
    background-color: #cfcece;
    color: #282c34;
  }
  
  /* customised */
  
  .bar {
    display: flex;
    float: right;
  }
  
  .main-sidebar {
    background-color: #8d8787;
    color: #f1eee9;
    height: 100vh;
  }
  
  .tm-main-sidebar {
    background-color: #535678;
    color: #f1eee9;
    height: 100vh;
  }
  .profile {
    text-align: center;
  }
  
  .logo {
    width: auto;
    height: 60px;
    margin: 12px 0;
  }
  
  .nav {
    margin-top: 50px;
  }
  
  .nav-link {
    color: white;
    display: block;
    /* margin-top: 20px; */
    font-size: 16px;
    text-indent: 40px;
    /* text-align: calc(100% - 30px); */
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  }
  .nav-link:hover {
    color: #000000;
    text-decoration: none;
  }
  .nav-link:active {
    color: #000000;
    text-decoration: none;
  }
  
  .session-row {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .search-form {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  #search-bar {
    width: 15rem;
  }
  
  .summary-header{
    width: 100%;
  }
  .summary-title{
    font-size: 18px;
    margin-left: 20px;
    font-family: manjari;
  }
  .summary-button{
    color: #ffffff;
    background-color: #8D8787;
    /* display: flex; */
  }
  .button-right{
    float:right;
  }
  .summary-list{
    width: 100%;
  }
  .discussion-list table{
    margin: auto;
  }
  .discussion-description{
    margin-left: 20px;
    font-size: 16px;
    color: #4d4b4b;
  }
  .discussion-student-comments{
    width: 95%;
    height: 70vh;
    border: solid 1px rgba(255, 255, 255, 0.3);
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: manjari;
  }
  .chats{
    padding: 10px;
  }
  .chats .student-name{
    font-weight: bold;
  }
  .new-comment{
    width: 95%;
    height: 42px;
    border: solid 1px rgba(255, 255, 255, 0.3);
    margin: auto;
    border-radius: 0 0 6px 6px;
    position: relative;
  }
  .comment-text{
    width: 96%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: manjari;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: none;
    background-color: #fff;
    background-clip: padding-box;
  }
  .send-button{
    z-index: 1;
    position: absolute;
    right: 0.5px;
    font-size:17px;
    border-radius: 0 0px 6px 0;
    color: #ffffff;
    background-color: #8D8787;
  }
  .span-text{
    font-size: 15px;
  }
  .student-list{
    margin-top: 80px;
  }
  .student-summary{
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .form-data{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display:none;
  }
  .entry-form{
    width: 40%;
    margin: auto;
    background-color: #ffffff;
    
  }
  .entry-data{
    padding: 20px;
    position: relative;
    margin-top: 10%;
  }
  .button-links{
    color: #ffffff;
  }
  .button-links:hover{
    text-decoration: none;
    color: #000000;
  }
  .attendees-list-summary{
    width: 90%;
    height: 50vh;
    border: solid 1px #cfcece;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .announcement-summary{
    width: 80%;
    height: 60vh;
    border: solid 1px #cfcece;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .adding-comment {
    width: 80%;
    height: 40px;
    border: solid 1px #cfcece;
    margin: auto;
  }
  .student-comment-text{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: manjari;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: none;
    background-color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* customised */

.bar {
  display: flex;
  float: right;
}

.main-sidebar {
  background-color: #8d8787;
  color: #f1eee9;
  height: 100vh;
}

.tm-main-sidebar {
  background-color: #535678;
  color: #f1eee9;
  height: 100vh;
}
.profile {
  text-align: center;
}

.logo {
  width: auto;
  height: 60px;
  margin: 12px 0;
}

.nav {
  margin-top: 50px;
}

.nav-link {
  color: white;
  display: block;
  /* margin-top: 20px; */
  font-size: 16px;
  text-indent: 40px;
  /* text-align: calc(100% - 30px); */
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.nav-link:hover {
  color: #000000;
  text-decoration: none;
}
.nav-link:active {
  color: #000000;
  text-decoration: none;
}

.session-row {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#search-bar {
  width: 15rem;
}

.summary-header{
  width: 100%;
}
.summary-title{
  font-size: 18px;
  margin-left: 20px;
  font-family: manjari;
}
.summary-button{
  color: #ffffff;
  background-color: #8D8787;
  /* display: flex; */
}
.button-right{
  float:right;
}
.summary-list{
  width: 100%;
}
.discussion-list table{
  margin: auto;
}
.discussion-description{
  margin-left: 20px;
  font-size: 16px;
  color: #4d4b4b;
}
.discussion-student-comments{
  width: 95%;
  height: 70vh;
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px 6px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: manjari;
}
.chats{
  padding: 10px;
}
.chats .student-name{
  font-weight: bold;
}
.new-comment{
  width: 95%;
  height: 42px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin: auto;
  border-radius: 0 0 6px 6px;
  position: relative;
}
.comment-text{
  width: 96%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: manjari;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: none;
  background-color: #fff;
  background-clip: padding-box;
}
.send-button{
  z-index: 1;
  position: absolute;
  right: 0.5px;
  font-size:17px;
  border-radius: 0 0px 6px 0;
  color: #ffffff;
  background-color: #8D8787;
}
.span-text{
  font-size: 15px;
}
.student-list{
  margin-top: 80px;
  
}
.student-summary{
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.form-data{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display:none;
}
.entry-form{
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  
}
.entry-data{
  padding: 20px;
  position: relative;
  margin-top: 10%;
}
.button-links{
  color: #ffffff;
}
.button-links:hover{
  text-decoration: none;
  color: #000000;
}
.attendees-list-summary{
  width: 90%;
  height: 50vh;
  border: solid 1px #cfcece;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.announcement-summary{
  width: 80%;
  height: 60vh;
  border: solid 1px #cfcece;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.adding-comment {
  width: 80%;
  height: 40px;
  border: solid 1px #cfcece;
  margin: auto;
}
.student-comment-text{
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-family: manjari;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: none;
  background-color: #fff;
}

.auth-form{
  width: 40%;
  margin: auto;
  margin-top: 60px;
  border: solid 1px #8D8787;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.auth-data{
  padding: 30px;
  position: relative;
}
.accordion{
  height: 70vh !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

